<% tweets.order("id DESC").each do |t| %>
		<div class= "user_tweets well" >
			<h3>
				<%= "#{t.user.username}: #{t.tweet}" %>
			</h3>

			<div class="comments" id= <%= "#{t.id}" %> >
				<%= render :partial => "comments/new", :locals => {:tweet => t } %>
			</div>
			
		</div>
<% end %>